<p>
    Here you can learn about the ConveRSE project and this website.
</p>
<p>
    Click on the tabs to switch between the categories.
</p>
<div class="tips-tabs-container">
    <a class="card-link" href="{{site.baseurl}}/about/converse">
        <div class="about-tabs
            {% if page.url == '/about/converse' %} 
                current"
            {% else %}
                "
            {% endif %}>
            <!-- <i class="card-icon fa-solid fa-user"></i> -->
            About ConveRSE
        </div>
    </a>
    <a class="card-link" href="{{site.baseurl}}/about/site">
        <div class="about-tabs 
            {% if page.url == '/about/site' %} 
                current"
            {% else %}
                "
            {% endif %}>
            <!-- <i class="card-icon fa-solid fa-user-group"></i> -->
            About the Website
        </div>
    </a>
</div>