<header class="page-header" role="banner">
    <div class="page-footer">
        <div class="footer-logo-container">
            <img src="{{site.baseurl}}/assets/img/converse-logo-blue.png" class="footer-logo" 
            title="ConveRSE logo" alt="ConveRSE logo">
        </div>
        <div class="footer-logo-container">
            <img src="{{site.baseurl}}/assets/img/ssi_logo.png" class="footer-logo" 
            title="Software Sustainability Institute logo" alt="Software Sustainability Institute logo">
        </div>
        <div class="footer-text-container">
            <p>
                This site has been developed by <a href="https://www.software.ac.uk/fellowship-programme/mike-simpson">Dr Mike Simpson</a>
                <br>as part of a Fellowship from the <a href="https://www.software.ac.uk">Software Sustainability Institute</a>.
            </p>
        </div>
    </div>
</header>
