<div class="page-footer">
    <div class="footer-content">
        <div class="footer-logo-container">
            <img src="{{site.baseurl}}/assets/img/converse-logo-blue.png" class="footer-logo" 
            alt="ConveRSE logo" alt="ConveRSE logo">
        </div>
        <div class="footer-logo-container">
            <img src="{{site.baseurl}}/assets/img/ssi_logo_white.png" class="footer-logo" 
                alt="Software Sustainability Institute logo">
        </div>
        <div class="footer-text-container">
            <p>
                This site has been developed by <a href="https://www.software.ac.uk/fellowship-programme/mike-simpson">Dr Mike Simpson</a>
                <br>as part of a Fellowship from the <a href="https://www.software.ac.uk">Software Sustainability Institute</a>.
            </p>
        </div>
        <ul class="footer-links">
            <li>
                <a href="{{site.data.var.github_url}}" alt="Our GitHub Repository" class="icon-link" target="_blank">
                <i class="fa-brands fa-square-github"></i>Our GitHub Repository
                </a>
            </li>
            <li>
                <a href="mailing-list" alt="Join our Mailing List" class="icon-link">
                <i class="fa-solid fa-envelope"></i>Join our Mailing List
                </a>
            </li>
        </ul>
    </div>
</div>