<nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link | prepend:site.baseurl }}" 
        title="{{item.tooltip}}"
        class="nav-item
        {% if page.url == item.link %} 
          current"
        {% else %}
          "
        {% endif %}>{{item.name}}
      </a>
    {% endfor %}
  </a>
  <a href="{{site.data.var.github_url}}" title="Join our Mailing List">
    <i class="fa-solid fa-envelope"></i>
  </a> 
  <a href="{{site.data.var.github_url}}" title="Our GitHub Repository">
    <i class="fa-brands fa-square-github"></i>
  </a> 
</nav>