<div class="post-preview" onclick="location.href='{{ post.url | prepend:site.baseurl }}';">
    <div>
      <h3 class="post-title">{{ include.title }}</h3>
      <p class="post-date">
        <i>{{ post.date | date_to_string }}</i>
      </p>
    </div>
    {% assign author = site.contributors
      | where_exp:"author", "author.short_name == post.author" 
      | first %}
    {% assign category = site.categories
      | where_exp:"category", "category.short_name == post.categories[0]" 
      | first %}
    <p class="author-name">
      <i class="fa-solid fa-user-large" title="Author"></i>&nbsp; 
      <a href="{{site.baseurl}}/contributors/{{author.short_name}}">{{ author.title }}</a>
      <span class="separator"></span>
      <i class="fa-solid fa-folder-open" title="Categories"></i>&nbsp;  
      <a href="{{site.baseurl}}/categories/{{category.short_name}}">{{ category.title }}</a>
      {% assign wordCount = post.content | number_of_words %}
      <span class="float-right"><i>{{wordCount}} words</i></span>
    </p>
    <table class="blog-posts">
      <tr>
        {% if post.image %} 
          <td class="column-left">
            <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" class="blog-preview-image">
          </td>
        {% endif %}
        <td>
          <div class="blog-excerpt">
            <p>{{ post.excerpt }}</p>
          </div>
        </td>
      </tr>
    </table>
    <p class="read-more"><a href="{{ post.url | prepend:site.baseurl }}" class="post-preview-link">Read more</a></p>
  </div>