<div class="post-preview" onclick="location.href='{{ post.url | prepend:site.baseurl }}';">
    <div class="post-preview-header">
      <h3 class="post-title">{{ post.title }}</h3>
      <p class="post-date-wide">
        <i>{{ post.date | date_to_string }}</i>
      </p>
    </div>
    <p class="post-date-mobile">
      <i>{{ post.date | date_to_string }}</i>
    </p>
    {% assign author = site.contributors
      | where_exp:"author", "author.short_name == post.author" 
      | first %}
    {% assign category = site.categories
      | where_exp:"category", "category.short_name == post.categories[0]" 
      | first %}
    <div class="author-name">
      <div>
        <i class="fa-solid fa-user-large" title="Author"></i>&nbsp; 
        <a href="{{site.baseurl}}/contributors/{{author.short_name}}">{{ author.title }}</a>
      </div>
      <span class="separator"></span>
      <div>
        <i class="fa-solid fa-folder-open" title="Categories"></i>&nbsp;  
        <a href="{{site.baseurl}}/categories/{{category.short_name}}">{{ category.title }}</a>
      </div>
      {% assign wordCount = post.content | number_of_words %}
      <span class="word-count"><i>{{wordCount}} words</i></span>
    </div>
    <div class="blog-posts post-preview-image">
      <div class="blog-image">
        <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" 
          class="blog-preview-image"
          alt="{{ post.image_alt }}"
        >
      </div>
      <div class="blog-excerpt">
        <div class="blog-excerpt-content">
          <p>
            {% if post.excerpt | number_of_words > 51 %}
              {{ post.excerpt | truncatewords: 51 }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </p>
          <p class="read-more">Read more <i class="fa-solid fa-circle-right"></i></p>
        </div>
      </div>
    </div>
  </div>