<div class="post-preview" onclick="location.href='{{ post.url | prepend:site.baseurl }}';">
    <div>
      <h3 class="post-title">{{ post.title }}</h3>
      <p class="post-date">
        <i>{{ post.date | date_to_string }}</i>
      </p>
    </div>
    {% assign author = site.contributors
      | where_exp:"author", "author.short_name == post.author" 
      | first %}
    {% assign category = site.categories
      | where_exp:"category", "category.short_name == post.categories[0]" 
      | first %}
    <p class="author-name">
      <i class="fa-solid fa-user-large" title="Author"></i>&nbsp; 
      <a href="{{site.baseurl}}/contributors/{{author.short_name}}">{{ author.title }}</a>
      <span class="separator"></span>
      <i class="fa-solid fa-folder-open" title="Categories"></i>&nbsp;  
      <a href="{{site.baseurl}}/categories/{{category.short_name}}">{{ category.title }}</a>
      {% assign wordCount = post.content | number_of_words %}
      <span class="float-right"><i>{{wordCount}} words</i></span>
    </p>
    <div class="blog-posts">
      <div class="blog-image">
        <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" 
          class="blog-preview-image"
          alt="{{ post.image_alt }}"
        >
      </div>
      <div class="blog-excerpt">
        <div class="blog-excerpt-content">
          <p>{{ post.excerpt }}</p>
          <p class="read-more">Read more <i class="fa-solid fa-circle-right"></i></p>
        </div>
      </div>
    </div>
  </div>