<p>
    This section provides tips and advice on how to manage mental health and wellbeing.
    We have divided the tips into three categories: looking after yourself, looking after your colleagues, 
    and looking after your team.
</p>
<p>
    Click on the tabs to switch between the categories.
</p>
<p>
    Some of the tips have been submitted by members of the community, during various workshops and Mike's fellowship talks.
</p>
<div class="tips-tabs-container">
    <a class="card-link" href="{{site.baseurl}}/tips/self.html">
        <div class="tips-tabs
            {% if page.url == '/tips/self' %} 
                current"
            {% else %}
                "
            {% endif %}>
            <!-- <i class="card-icon fa-solid fa-user"></i> -->
            Looking after yourself
        </div>
    </a>
    <a class="card-link" href="{{site.baseurl}}/tips/colleagues.html">
        <div class="tips-tabs 
            {% if page.url == '/tips/colleagues' %} 
                current"
            {% else %}
                "
            {% endif %}>
            <!-- <i class="card-icon fa-solid fa-user-group"></i> -->
            Looking after your colleagues
        </div>
    </a>
    <a class="card-link" href="{{site.baseurl}}/tips/team.html">
        <div class="tips-tabs  
            {% if page.url == '/tips/team' %} 
                current"
            {% else %}
                "
            {% endif %}>
            <!-- <i class="card-icon fa-solid fa-users"></i> -->
            Looking after your team
        </div>
    </a>
</div>