<p>
    This section provides tips and advice on how to manage mental health and wellbeing.
    We have divided the tips into three categories: looking after yourself, looking after your colleagues, and looking after your team.
    Click on the tabs to switch between the categories.
</p>
<hr>
<div class="tips-tabs-container">
    <div class="tips-tabs
        {% if page.url == '/tips/self' %} 
            current"
        {% else %}
            "
        {% endif %}>
        <a href="{{site.baseurl}}/tips/self.html" class="
            {% if page.url == '/tips/self' %} 
                current"
            {% else %}
                "
            {% endif %}>
            Looking after yourself
        </a>
    </div>
    <div class="tips-tabs 
        {% if page.url == '/tips/colleagues' %} 
            current"
        {% else %}
            "
        {% endif %}>
        <a href="{{site.baseurl}}/tips/colleagues.html"  class="
            {% if page.url == '/tips/colleagues' %} 
                current"
            {% else %}
                "
            {% endif %}>
            Looking after your colleagues
        </a>
    </div>
    <div class="tips-tabs  
        {% if page.url == '/tips/team' %} 
            current"
        {% else %}
            "
        {% endif %}>
        <a href="{{site.baseurl}}/tips/team.html"  class="
            {% if page.url == '/tips/team' %} 
                current"
            {% else %}
                "
            {% endif %}>
            Looking after your team
        </a>
    </div>
</div>