---
layout: default
title: Blog
menu: blog
pagination:
  enabled: true
---
<p>
  Welcome to the blog. This is where you can find the latest posts from the ConveRSE Community.
  We have invited a range of people with different background and experiences to contribute to this blog,
  so you can find a wide range of stories, tips and advice on self-care and mental health.
</p>
<ul>
  <li>
    If you would like to submit a blog post, please follow the instructions on our 
    <a href="contribute">Contribute page</a>.
  </lip>
  <li>
    If you want to be notified of new posts and other news from the ConveRSE Community, 
    please join our <a href="mailing-list">mailing list</a>.
  </li>
</ul>
<hr>
<h2>Latest Posts</h2>
<p>View the latest posts below. Click on an author, category or tag to filter the results.</p>
{% for post in paginator.posts %}
  <h1>{{ post.title }}</h1>
{% endfor %}
{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}