---
layout: default
title: Blog
menu: blog
permalink: /blog
---
<p>
  Welcome to the blog. This is where you can find the latest posts from the ConveRSE Community.
  We have invited a range of people with different background and experiences to contribute to this blog,
  so you can find a wide range of stories, tips and advice on self-care and mental health.
</p>
<p>
  If you want to be notified of new posts, as well as other news 
  from the ConveRSE Community, please join our <a href="http://eepurl.com/jelPOg">mailing list</a>.
</p>
<hr>
<!-- <h2>Categories</h2>
<p>
  You can also filter by category using the links below or view our 
  <a href="{{ "/authors.html" | prepend:site.baseurl }}">list of authors</a>.
</p>
<div class="cards small">
{% for category in site.categories %} 
    <a class="card-link" href="{{ category.url | prepend:site.baseurl }}"><div class="category-card">
        <h3>{{ category.title }}</h3>
    </div></a>
{% endfor %}
</div> -->
<!-- <div class="tags">
  <p class="align-center">Tags: |
  {% for tag in site.tags %}
        <a href="{{ tag.url | prepend:site.baseurl }}">{{ tag.title }}</a> | 
  {% endfor %}
  </p>
</div>
<hr> -->
<h2>Latest Posts</h2>
<p>View the latest posts below. Click on an author, category or tag to filter the results.</p>
{% assign ordered_posts = site.posts | sort:"date" | reverse %}
{% for post in ordered_posts %}
  {% include post-preview.html %}
{% endfor %}