---
layout: default
title: Blog
---
<p>
  Welcome to the blog. This is where you can find the latest posts from the Mental Health RSEsource.
  We have invited a range of people with different background and experiences to contribute to this blog,
  so you can find a wide range of stories, tips and advice on self-care and mental health.
</p>
<p>View the latest posts below. You can also view our 
  <a href="{{ "/authors.html" | prepend:site.baseurl }}">list of contributing authors</a>.
</p>
<hr>
<div class="tags">
  <p>Tags: |
  {% for tag in site.tags %}
        <a href="{{ tag.url | prepend:site.baseurl }}">{{ tag.title }}</a> | 
  {% endfor %}
  </p>
</div>
<hr>
<h2>Latest Posts</h1>
  <p></p>
{% assign ordered_posts = site.posts | sort:"date" | reverse %}
{% for post in ordered_posts %}
  <a href="{{ post.url | prepend:site.baseurl }}" class="post-preview-link">
    <div class="post-preview">
      <div>
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-date"><i>{{ post.date | date_to_string }}</i></p>
      </div>
      {% assign author = site.authors
        | where_exp:"author", "author.short_name == post.author" 
        | first %}
      <p class="author-name">
        <i>by <a href="{{site.baseurl}}/authors/{{author.short_name}}">{{ author.title }}</a></i>
        {% assign wordCount = post.content | number_of_words %}
        <span class="float-right"><i>{{wordCount}} words</i></span>
      </p>
      <table class="blog-posts">
        <tr>
          {% if post.image %} 
          <td class="column-left">
            <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" class="blog-preview-image">
          </td>
          {% endif %}
          <td>
            <div class="blog-excerpt">
              <p>{{ post.excerpt }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>  
  </a>
{% endfor %}