---
layout: default
title: About
menu: about
permalink: /about
---
<p>
    Here you can learn about the ConveRSE project and this website. Use the tabs below to switch between the two.
</p>
<div class="tips-tabs-container">
    <button class="about-tabs current"
        id="about-tab-converse"
        onclick="aboutConverse()"
        onkeypress="aboutConverse()">
        About ConveRSE
    </button>
    <button class="about-tabs"
        id="about-tab-site"
        onclick="aboutWebsite()"
        onkeypress="aboutWebsite()">
        About the Site
    </button>
</div>
<div id="about-converse">
    {% include_relative converse.html %}
</div>
<div id="about-site" hidden>
    {% include_relative site.html %}
</div>