---
---

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-colour: #222;
$link-colour: #1e6bb8;
$selected-colour: #159957;

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    color: $font-colour;
    font-size: large;
    font-weight: 400;
}

h1 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 1.6rem !important;
    margin-top: 1.5rem !important;
    font-weight: 500 !important;
}

h3 {
    font-size: 1.4rem !important;
    margin-top: 1.4rem !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 1.2rem !important;
    margin-top: 1.3rem !important;
    font-weight: 500 !important;
    color: #159957 !important;
}

a {
    font-weight: 500 !important;
}

h3 a {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
}

// .main-content {
//     //padding-top: 22px;
//     //padding-bottom: 27px;
// }

.align-center {
    text-align: center;
}

.mailing-list-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.current {
    color: #159957 !important;
    padding-bottom: 15px !important;
    border-bottom: 5px solid #159957;
}

.page-header {
    background-image: url('{{ site.baseurl }}/assets/img/rachel-mcdermott.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.header-content {
    position: relative;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.header-title {
    color: whitesmoke;
    font-size: 2rem !important;
    font-weight: 500 !important;
    text-shadow: 2px 2px 4px #000;
    margin-top: 18px;
    margin-left: 10px;
    margin-bottom: 18px;
}

.header-link {
    text-decoration: none !important;
}

.main-logo {
    height: 180px;
}

.page-footer {
    background: #1e6bb8;
    //margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer-content {
    // padding: 2rem auto;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-logo {
    height: 50px;
}

.footer-logo-container {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.footer-text-container {
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    border-left: 1px solid grey;
    padding-bottom: 5px;
}

.footer-text-container p {
    color: whitesmoke;
    font-size: small;
    margin: 0;
    text-align: left;
}

@media (max-width: 736px) {
  .footer-text-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: none;;
  }
  
  .footer-text-container p {
    text-align: center !important;
  }
}

@media (max-width: 850px) {
  .quote-break { 
    display: none; 
  }
}

.footer-text-container p a {
    color: whitesmoke;
    font-weight: bold;
    font-size: small;
}

.quote {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    font-size: larger;
    padding: 40px;
    background-color: #d8eef5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.light-quote {
    background-color: whitesmoke;
}

.quote p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bolder;
}

.center {
    text-align: center;
    font-size: larger;
}

ul, ol {
    padding-top: 10px;
    margin-bottom: 0px;
    list-style-position: outside;
}

ul li {
    padding-left: 10px;
}

ol {
    padding-left: 30px;
}

ol li {
    padding-left: 10px;
    padding-bottom: 20px;
}

li {
    padding-bottom: 10px;
}

.post-preview {
    margin-top: 30px !important;
    margin-bottom: 0px;
    padding: 20px;
    background-color: rgb(216, 238, 245);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.post-preview:hover{
    background-color: rgb(191, 219, 229);
    cursor: pointer;
}

.blog-image {
    background-color: rgba(169, 204, 215, 0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid lightblue;
}

.blog-preview-image {
    object-fit: cover;
    // width: 100%;
    // height: 100px;
    white-space: nowrap;
}

.author-column-left {
    width: 200px;
}

.blog-posts {
    display: flex;
}

.blog-image {
    width: 35%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-image img {
    width: 100%;
    margin-top: auto !important;
    margin-bottom: auto;
}

.blog-excerpt {
    width: 65%;
    height: 200px;
    padding-left: 40px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blog-excerpt-content {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.contributor-card {
    margin-bottom: 30px;
}

@media (max-width: 673px) {
    .blog-excerpt {
        height: fit-content;
    }

    .blog-posts {
        display: block;
    }

    .blog-image{
        width: 100%;
        height: auto;
    }

    .blog-excerpt {
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog-excerpt-content {
        padding-bottom: 40px;
    }
}

.read-more {
    width: 100%;
    color: #1e6bb8;
    text-align: right;
    font-weight: normal;
    margin-top: auto !important;
    margin-bottom: 0px !important;
    position: absolute;
    bottom: 10px;
    right: 10px
}

.read-more i {
    padding-left: 5px;
    color: #1e6bb8;
}

.post-title {
    float: left;
    font-size: larger;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.post-date-wide {
    float: right;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 7px;
    height: 38px;
}

.post-date-mobile {
    float: right;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 12px;
    height: 38px;
    display: none;
}

.post-preview-header {
    //min-height: 38px;
    overflow: hidden;
    padding-bottom: 5px;
}

.author-card {
    display: flex;
}

.author-profile-picture {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-profile-name {
    font-weight: bold;
    margin-bottom: 5px !important;
    padding-left: 10px !important;
}

.author-name {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.author-description {
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.word-count {
    margin-left: auto;
}

.post-word-count {
    float: right;
    margin-left: auto;
}

.post-preview-image {
    padding-top: 0px;
}

@media (max-width: 673px) {
    .author-card {
        display: block;
    }

    .author-profile-picture {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .author-description {
        height: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    .author-name {
        display: block;
    }

    .separator {
        display: none;
    }

    .post-date-mobile {
        display: block;
    }

    .post-date-wide {
        display: none;
    }

    .word-count {
        display: none;
    }

    .post-word-count {
        display: none;
    }

    .post-preview-header {
        padding-bottom: 10px;
    }

    .post-preview-image {
        padding-top: 10px !important;
    }

    .tips-tab-content {
        padding: 25px 30px 30px 30px !important;
    }

    ol {
        padding-left: 20px;
    }

    .main-content {
        padding-top: 22px;
        //padding-bottom: 27px;
    }

    .post-details {
        display: block !important;
    }

    .date-icon {
        margin-left: 20px;
    }

    .centered-image{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        width: 100%;
    }
}

.author-description-content {
    height: fit-content;
    margin-top: auto !important;
    margin-bottom: auto;
}

.author-description h2 {
    margin-top: 0px !important;
}

.float-right {
    float: right;
}

nav i {
    margin-left: 20px;
}

hr {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    background-color: lightblue !important;
}

.centered-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 80%;
    border-radius: 20px;
}

.blog-content hr {
    margin-bottom: 30px !important;
}

.blog-content img {
    width: 100%;
}

.tags {
    margin-top: 30px;
}

.tips-tabs-container {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid rgb(201, 229, 238);
    height: max-content;
}

.tips-tabs {
    display: inline-block;
    background-color: rgb(226, 239, 244);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 32%;
    cursor: pointer;
    height: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    color: #1e6bb8 !important;
    box-shadow: none !important;
}

.tips-tabs.current {
    color: #159957 !important;
}

.about-tabs {
    display: inline-block;
    background-color: rgb(226, 239, 244);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 48%;
    cursor: pointer;
    margin-bottom: 0px;
    border-radius: 0px;
    color: #1e6bb8 !important;
    box-shadow: none !important;
}

.about-tabs.current {
    color: #159957 !important;
}

.about-tabs:hover {
    background-color: #e0f7fa !important;
}

.about-tabs.current {
    background-color: rgb(216, 238, 245);
    padding-bottom: 17px !important;
}

.tips-tabs:hover {
    background-color: #e0f7fa !important;
}

.tips-tabs.current {
    background-color: rgb(216, 238, 245);
    padding-bottom: 17px !important;
}

.tips-tab-content {
    background-color: rgb(216, 238, 245);
    padding: 40px 50px 30px 50px;
}

.menu .menu-list, .menu .sub-menu {
    list-style: none;
}
  
.menu {
    text-align: center;
    background-color: #d8eef5;
}

.menu-list {
    margin-top: 0px;
    padding-top: 0px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px
}

.menu-list li {
    padding-bottom: 0px;
    padding-left: 0px;
}

.menu a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
.menu > .menu-list > li {
    float: left;
    position: relative;
}
  
.menu > .menu-list > li > a {
    padding: 20px 35px;
    margin: 0px;
}

.external-links {
    margin-top: auto;
    text-align: center;
    list-style: none;
    padding-top: 0px;
    padding-left: 0px;
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: fit-content;
    margin-left: auto;
}

.external-links > li {
    float: right;
    position: relative;
}

.external-links a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.icon-link i {
    font-size: larger;
    padding: 20px 20px;
    color: whitesmoke;
}

.icon-link i:hover {
    color: lightsteelblue;
}

.footer-links {
    text-align: center;
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.footer-links > li {
    position: relative;
    display: inline-block;
    margin-right: 0px;
    padding-left: 0px;
}

.footer-links a {
    color: whitesmoke;
    font-size: small;
    text-decoration: none;
    cursor: pointer;
}

.footer-links a:hover {
    color: lightsteelblue;
}

.footer-links i {
    padding: 10px;
}
  
.menu > .menu-list > li:hover > .sub-menu {
    display: block;
}

.menu > .menu-list > li:hover {
    background: rgb(142, 201, 221);
}

.sub-menu > li:hover {
    background: rgb(142, 201, 221);
}
  
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    background: lightblue;
    z-index: 1000;
    display: none;
}
  
.menu > .menu-list > li > .sub-menu > li > a {
   padding: 10px 20px;
}

.sub-menu {
    text-align: left;
    padding-left: 0px;
    padding-top: 0px;
}
  
.menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.link-li {
    padding-bottom: 0px;
}

.featured-image {
    width:90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid lightblue;
    border-radius: 10px;
}

.caption {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(112, 112, 112);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px !important;
}

.content-image {
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-link {
    text-decoration: none !important;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; //left
    align-items: flex-start;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.small {
    justify-content: center;
    align-items: center;
}

.cards::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card {
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    min-width: 230px;
    height: 320px;
    background-color: #d8eef5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card {
    border-radius: 10px;
    margin: 10px;
    padding: 20px 40px;
    text-align: center;
    //width: 300px;
    height: 65px;
    background-color: #d8eef5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.category-card h3 {
    margin-top: 0px !important;
    font-size: 1.0rem !important;
}

.card:hover {
    background-color: lightblue;
}

.card-icon {
    font-size: 50px;
    margin-top: 40px !important;
    margin-bottom: 10px;
}

.separator {
    padding-left: 10px;
    padding-right: 10px;
}

.post-tags {
    margin-top: 0px;
}

.post-details {
    width: 100%;
    margin-bottom: 0px !important;
    display: inline-flex;
}

.category-title {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

.button-container {
    text-align: center;
    width: 100%
}

button {
    background-color: #1e6bb8;
    color: whitesmoke !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin-top: 10px !important;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

button:hover {
    background: rgb(142, 201, 221)
}

.top-padding {
    padding-top: 10px;
}