---
---

$font-colour: #222;

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $font-colour;
    font-size: large;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 1.5rem !important;
    margin-bottom: 0rem !important;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1.4rem !important;
}

h4 {
    font-size: 1.2rem;
    margin-top: 1.3rem !important;
}

.current {
    color: green;
}

.page-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-logo {
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-footer {
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-logo {
    height: 50px;
}

.footer-logo-container {
    display: inline-block;
    padding-right: 20px;
}

.footer-text-container {
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    border-left: 1px solid grey;
    padding-bottom: 5px;
}

.footer-text-container p {
    color: whitesmoke;
    font-size: small;
    margin: 0;
}

.footer-text-container p a {
    color: whitesmoke;
    font-weight: bold;
    font-size: small;
}

.quote {
    text-align: center;
    font-size: larger;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
}

.quote p {
    margin: 0;
}

.center {
    text-align: center;
    font-size: larger;
}

ul, ol {
    padding-top: 10px;
    margin-bottom: 0px;
    list-style-position: outside;
}

ul li {
    padding-left: 10px;
}

ol li {
    padding-left: 10px;
}

li {
    padding-bottom: 10px;
}

.post-preview {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(216, 238, 245);
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.post-preview:hover{
    background-color: rgb(191, 219, 229);
}

.post-preview-link {
    text-decoration: none !important;
}

.blog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-preview-image {
    object-fit: cover;
    // width: 100%;
    // height: 100px;
    white-space: nowrap;
}

.column-left {
    width: 35%;
}

.author-column-left {
    width: 200px;
}

.blog-posts tr td {
    padding: 0px;
    border: none;
}

.blog-excerpt {
    padding-left: 20px;
    padding-right: 20px;
}

.blog-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    float: left;
    font-size: larger;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.post-date {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.author-name {
    margin-top: 35px;
}

.float-right {
    float: right;
}

nav i {
    margin-left: 20px;
}

hr {
    margin-top: 30px !important;
    background-color: lightblue !important;
}

.blog-content hr {
    margin-bottom: 30px !important;
}

.tags {
    margin-top: 30px;
}

.tips-tabs-container {
    text-align: center;
    width: 100%;
}

.tips-tabs {
    display: inline-block;
    background-color: rgb(201, 229, 238);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    width: 32%;
}

.tips-tabs.current {
    background-color: lightblue;
}

.menu .menu-list, .menu .sub-menu {
    list-style: none;
}
  
.menu {
    text-align: center;
    background-color: lightblue;
}

.menu-list {
    margin-top: 0px;
    padding-top: 0px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.menu-list li {
    padding-bottom: 0px;
    padding-left: 0px;
}

.menu .menu-list, .menu .sub-menu {
    list-style: none;
}
  
.menu a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
  
.menu > .menu-list > li {
    float: left;
    position: relative;
}
  
.menu > .menu-list > li > a {
    padding: 20px 35px;
    margin: 0px;
}

.icon-link {
    padding: 20px 20px !important;
}
  
.menu > .menu-list > li:hover > .sub-menu {
    display: block;
}

.menu > .menu-list > li:hover {
    background: rgb(142, 201, 221);
}

.sub-menu > li:hover {
    background: rgb(142, 201, 221);
}
  
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    background: lightblue;
    z-index: 1000;
    display: none;
}
  
.menu > .menu-list > li > .sub-menu > li > a {
   padding: 10px 20px;
}

.sub-menu {
    text-align: left;
    padding-left: 0px;
    padding-top: 0px;
}
  
.menu:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.link-li {
    padding-bottom: 0px;
}

.featured-image {
    width:90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid lightblue;
    border-radius: 10px;
}

.caption {
    text-align: center;
    font-size: 0.8rem;
    color: grey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px !important;
}

.read-more {
    color: #1e6bb8;
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.read-more:hover {
    text-decoration: underline;
    cursor: pointer;
}