---
layout: default
---

<table class="blog-posts">
  <tr>
    <td class="column-left">
      <img src="{{site.baseurl}}/assets/img/authors/{{page.image}}">
    </td>
    <td>
      <div class="blog-excerpt">
        <p>{{page.job_title}}</p>
        <p>{{page.institution}}</p>
      </div>
    </td>
  </tr>
</table>

{{ content }}

<h2>Posts</h2>
<p>The following blogs were authored by {{ page.title }}:</p>
{% assign filtered_posts = site.posts | where: 'author', page.short_name %}
{% for post in filtered_posts %}
  <a href="{{ post.url | prepend:site.baseurl }}" class="post-preview-link">
    <div class="post-preview">
      <div>
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-date"><i>{{ post.date | date_to_string }}</i></p>
      </div>
      {% assign author = site.authors
        | where_exp:"author", "author.short_name == post.author" 
        | first %}
      <p class="author-name">
        <i>by <a href="{{site.baseurl}}/authors/{{author.short_name}}">{{ author.title }}</a></i>
        {% assign wordCount = post.content | number_of_words %}
        <span class="float-right"><i>{{wordCount}} words</i></span>
      </p>
      <table class="blog-posts">
        <tr>
          {% if post.image %} 
          <td class="column-left">
            <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" class="blog-preview-image">
          </td>
          {% endif %}
          <td>
            <div class="blog-excerpt">
              <p>{{ post.excerpt }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>  
  </a>
{% endfor %}