---
layout: default
---

{{ content }}

<hr>
<h2>Other Categories</h2>
<p>View other categories below.</p>
<div class="cards small">
{% for category in site.categories %} 
    <a class="card-link" href="{{ category.url | prepend:site.baseurl }}"><div class="category-card">
        <h3>{{ category.title }}</h3>
    </div></a>
{% endfor %}
</div>
<hr>
<h2>Posts</h2>
<p>The following posts are in the "{{page.title}}" category:</p>
{% assign filtered_posts = site.posts | where: 'categories', page.short_name %}
{% for post in filtered_posts %}
  <a href="{{ post.url | prepend:site.baseurl }}" class="post-preview-link">
    <div class="post-preview">
      <div>
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-date"><i>{{ post.date | date_to_string }}</i></p>
      </div>
      {% assign author = site.contributors
        | where_exp:"author", "author.short_name == post.author" 
        | first %}
      <p class="author-name">
        <i>by <a href="{{site.baseurl}}/contributors/{{author.short_name}}">{{ author.title }}</a></i>
        {% assign wordCount = post.content | number_of_words %}
        <span class="float-right"><i>{{wordCount}} words</i></span>
      </p>
      <table class="blog-posts">
        <tr>
          {% if post.image %} 
          <td class="column-left">
            <img src="{{site.baseurl}}/assets/img/blog/{{ post.image }}" class="blog-preview-image">
          </td>
          {% endif %}
          <td>
            <div class="blog-excerpt">
              <p>{{ post.excerpt }}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>  
  </a>
{% endfor %}