---
layout: default
---

{% assign name = page.title %}
{% assign image = page.image %}
{% assign job_title = page.job_title %}
{% assign institution = page.institution %}
{% include contributor-profile.html %}

{{ content }}

{% assign filtered_posts = site.posts | where: 'author', page.short_name %}
{% if filtered_posts.size > 0 %}
    <h2>Posts</h2>
    <p>The following blogs were authored by {{ page.title }}:</p>
    {% for post in filtered_posts %}
      {% include post-preview.html %}
    {% endfor %}
{% endif %}