---
layout: default
---

<div class="author-card contributor-card">
    <img src="{{site.baseurl}}/assets/img/contributors/{{ page.image }}" 
        class="author-profile-picture"
        alt="{{ page.title}}'s profile picture"
    >
    <div class="author-description">
        <div class="author-description-content">
            <ul>
            <li>{{ page.job_title }}</li>
            <li>{{ page.institution }}</li>
            </ul>
        </div>
    </div>
</div>

{{ content }}

{% assign filtered_posts = site.posts | where: 'author', page.short_name %}
{% if filtered_posts.size > 0 %}
    <h2>Posts</h2>
    <p>The following blogs were authored by {{ page.title }}:</p>
    {% for post in filtered_posts %}
      {% include post-preview.html %}
    {% endfor %}
{% endif %}