---
layout: default
---

<table class="blog-posts">
    <tr>
        <td class="column-left">
        <img src="{{site.baseurl}}/assets/img/contributors/{{page.image}}">
        </td>
        <td>
        <div class="blog-excerpt">
            <p>{{page.job_title}}</p>
            <p>{{page.institution}}</p>
        </div>
        </td>
    </tr>
</table>

{{ content }}

{% assign filtered_posts = site.posts | where: 'author', page.short_name %}
{% if filtered_posts.size > 0 %}
    <h2>Posts</h2>
    <p>The following blogs were authored by {{ page.title }}:</p>
    {% for post in filtered_posts %}
      {% include post-preview.html %}
    {% endfor %}
{% endif %}